<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='core.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <h3>Home</h3>
        <br>

        <table class="table">
            <tr>
                <td><a href="/liststudents" class="button-link">Show all Students</a></td>
                <td><a href="/enternew" class="button-link">Add new student</a></td>
                <td><a href="/search" class="button-link">Search Students</a></td>
            </tr>
        </table>

        <form action="/logout">
            <button class="button">Logout</button>
        </form>
    </div>
</body>
</html>
