<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='core.css') }}">
</head>
<body>
    <div class="container">
        <h3>Student Information</h3>
        <br>


        <form action="{{ url_for('addrec') }}" method="POST">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" required /><br><br>

            <label for="add">Address</label><br>
            <textarea id="add" name="add" required></textarea><br><br>

            <label for="city">City</label><br>
            <input type="text" id="city" name="city" required /><br><br>

            <button class="button">Submit</button><br>
        </form>

        <form action="/">
            <button class="button">Cancel</button>
        </form>
    </div>
</body>
</html>
